<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'default.html' %}

<!-- Название у нас будет Новые объявления -->
{% block title %}
Профиль пользователя
{% endblock title %}

{% block content %}
   {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
<div>
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>

</div>

<h3>Объявления пользователя и отклики к ним</h3>
    {% if messages %}
        {# Теперь будем проверять не request.user.is_authenticated, а конкретные права #}

        {% for message in messages %}

                <div class="bg-light">
                    <hr>

                    <p class="text-bg-light, mark"><strong>{{ message.data_create|date:'d M Y' }}   |    {{ message.get_category_display }}  |
                        <a class="lead" href="{% url 'message_detail' pk=message.id %}">{{ message.message_header }}</a></strong></p>

                    {% for c in message.c_message.all  %}

                      {#{% if c.comment_status == 0 and request.user.id  ==  c.user.id %}#}
                        <hr>
                        print({{ c }})

                        <p class="text-black-50, text-start" >{{ c.data_create }} Автор отклика:{{ c.user }} + Id пользователя оставившего отклик:{{ c.user.id }} Статус отклика: {{c.comment_status}} Id отклика: {{ c.id }}</p>
                        <p class="text-body">{{ c.comment }}</p>
                            {% if c.comment_status == 1 %}
                                <p class="lead">Отклик принят</p>
                            {% endif %}
                            {% if c.comment_status == 2 %}
                                <p class="lead">Отклик не рассмотрен</p>
                                <a href="{% url 'change_status' c.id message.id 'accept' %}">Принять отклик</a>
                                <a href="{% url 'change_status' c.id message.id 'reject' %}">Отклонить отклик</a>
                            {% endif %}
                            {% if c.comment_status == 0 %}
                                <p class="lead">Отклик отклонен</p>
                            {% endif %}

                      {#{% endif %}#}
                    {% endfor %}
                </div>
        {% endfor %}
   {% else %}
       <h2>Статей нет!</h2>
   {% endif %}

   {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}